use flake

export PGDATA="$PWD/.postgres-data"
export PGHOST=localhost
export PGPORT=5440
export PGUSER=postgres
export PGDATABASE=postgres
export DB_PORT=$PGPORT
export DATABASE_URL="postgres://postgres@localhost:${PGPORT}/postgres"

export PORT=8420
export ROC_BASIC_WEBSERVER_PORT=$PORT
export PC_PORT_NUM=8421
